# .env.example
DB_HOST = "localhost"
DB_PORT = ""
DB_NAME = ""
DB_USER = ""
DB_PASS = ""

Db_HOST_NOSQL = 'localhost'
DB_PORT_NOSQL = "27017"
DB_NAME_NOSQL = ""
DB_USER_NOSQL = ""
DB_PASS_NOSQL = ""

# /* ------------------- */
DOMAINE = 'localhost'
# /* ------------------- */
# 60*60*24 = 86400 *1 # 1 day
END_DATE_REMEMBER_ME = 86400 # 1 day

TIMEZONE = 'Europe/Paris'
SESSION_TIMEOUT = 1200 # 20 minutes
SESSION_REGENERATE_INTERVAL = 300 # 5 minutes
CSRF_TOKEN_EXPIRATION_TIME = 300 # 5 minutes